<div class="row">
    <div class="col-md-4">
        <h2>Challenge</h2>
        <p>
            Register App or you can <a href="@Url.Action("Index", "Auth")"><span>Log in</span></a>
        </p>
    </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p id="error" style="color:orangered">
                                
            </p>
        </div>
    </div>
<div class="row">

    <div class="col-md-4">
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.Label("Display Name Application", new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-9">
                        <input type="text" id="displayname" required value="" class="form-control" />
                    </div>
                </div>               
            </div>
            <div class="form-group">
                <div class="col-lg-9"></div>
                <div class="col-lg-3">
                    <button class="btn btn-success" id="btnStart" onclick="Register();">
                        Register
                    </button>
                </div>
            </div>        
    </div>
</div>
<script type="text/javascript">
    function Register() {
        var json = {
            display_name : $('#displayname').val()
        };              
        $.ajax({
            url: 'http://localhost:8080/api/application/register',
            type: 'POST',
            contentType: 'application/json',
            dataType: 'json',            
            data :JSON.stringify(json),
            success: function (data) {               
                if (data.Error == null) {
                    alert('your credentials are: ' + data.application_id + ':' + data.application_secret + ' please take note for login')
                    var url = '@Url.Action("Index", "Auth")';
                    window.location.href = url;                    
                }
                else
                {
                    alert(data.Error);
                }
            },
            error: function (data) {
                //If i have time read header to se the exact error
                alert('The service thowed an error, please try again');
            }
        });
    }
</script>